INPUT_DIR=input
OUTPUT_DIR=output
REFINEMENT_ENCRYPTION_KEY=0x1234
SCHEMA_NAME=Spotify Analytics
SCHEMA_VERSION=0.0.1
SCHEMA_DESCRIPTION=Schema for Spotify listening data DLP, representing analytics of the Spotify user
SCHEMA_DIALECT=sqlite
PINATA_API_KEY=
PINATA_API_SECRET=
IPFS_GATEWAY_URL=https://gateway.pinata.cloud/ipfs
